.expansion-panel {
  display: flex;
  flex-direction: column;
  color: var(--def-color);

  &__label {
    display: flex;
    align-items: center;
    gap: calc(var(--def-size) / 2);
    cursor: pointer;
    width: fit-content;
  }

  &__icon {
    transition: transform var(--def-duration) ease-in-out;
    transform: rotate(0);
    width: var(--def-size);
    height: var(--def-size);

    &--active {
      transform: rotate(180deg);
    }
  }
}