@use "max-row.mixin" as m;
@use "icon-size.mixin" as i;

// Fonts
.fw-b {
  font-weight: bold;
}

.c-def {
  color: var(--def-color);
}

.c-gray {
  color: var(--def-gray-color);
}

.c-dark {
  color: var(--def-dark-color);
}

.c-blue {
  color: var(--def-blue-color);
}

.c-blue-white {
  color: var(--def-blue-white-color);
}

// Cursor
.cp {
  cursor: pointer;
}

.cp-h-b {
  cursor: pointer;
  transition: color var(--def-duration) ease-in-out;
  color: currentColor;

  &:hover {
    color: var(--def-blue-color) !important;
  }
}

// Flex
.d-flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.gap {
  gap: calc(var(--def-size) / 4);

  &--2 {
    gap: calc(var(--def-size) / 2);
  }

  &--3 {
    gap: var(--def-size);
  }

  &--4 {
    gap: calc(var(--def-size) * 2);
  }
}

// Max row count
.max-row {
  @include m.max-row(1);

  &--2 {
    @include m.max-row(2);
  }
}

// Icon size
.icon-size {
  @include i.icon-size(var(--def-size));
  margin-top: -2px;

  &--2 {
    @include i.icon-size(calc(var(--def-size) + 0.5rem));
  }

  &--3 {
    @include i.icon-size(calc(var(--def-size) * 2));
  }
}
