:root {
  --def-size: 1rem;
  --def-duration: 300ms;

  --def-border-color: #C4D3E9;
  --def-color: #8C99B2;
  --def-dark-color: #303549;
  --def-gray-color: #606580;
  --def-blue-color: #0089FF;
  --def-blue-light: #D9EDFF;
  --def-blue-white-color: #CCE7FF;
  --def-red-color: #ff1d25;
}