<div class="card" [class.card--active]="isActive" (click)="onActivate()">
  <div class="card__icon">
    <mat-icon svgIcon="tech-21"></mat-icon>
  </div>

  <div class="card__content">
    <div class="card__row">
      <span class="c-dark">
        Грузовик <span class="fw-b">Р100ТТ 799</span>
      </span>

      <div class="card__spacer"></div>

      <div class="card__actions">
        <button mat-icon-button class="card-action" (click)="$event.stopPropagation()">
          <mat-icon svgIcon="edit"></mat-icon>
        </button>

        <button mat-icon-button class="card-action" (click)="$event.stopPropagation()">
          <mat-icon svgIcon="delete"></mat-icon>
        </button>

        <button mat-icon-button class="card-action" (click)="$event.stopPropagation()">
          <mat-icon>close</mat-icon>
        </button>

        <button mat-icon-button class="card-action" (click)="$event.stopPropagation()">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>

    <div class="card__row">
      <span class="c-gray">Scania TT280</span>
    </div>

    <div class="card__row cp-h-b" matRipple [matRippleDisabled]="false" (click)="$event.stopPropagation()">
      <span style="display:flex; align-items: center">
        <mat-icon svgIcon="info" class="icon-size" style="padding-right: 0.5rem"></mat-icon>
        Подробно о технике
      </span>
    </div>
  </div>
</div>